.under-line{
    border-bottom: 1px solid #a23f16 ;
}
.update-status{
    display: flex;
    justify-content: center;
    align-items: center;
}

.select{
    background-color: aliceblue;
    color: black;
    width: 100%;
}
